{
  "bridge": {
    "name": "{{ client_id }}",
    "username": "{{ username }}",
    "port": {{ port }},
    "pin": "{{ pin }}"
  },
  "accessories": {{ accessories | tojson(indent=2) | indent(2) }},
  "platforms": [
    {
      "name": "Config",
      "port": {{ ui_port }},
      "platform": "config"
    }
  ]
}
