{
  "bridge": {
    "name": "{{ bridge_name }}",
    "username": "{{ username }}",
    "port": {{ port }},
    "pin": "{{ pin }}"
  },
  "accessories": [],
  "platforms": [
    {
      "name": "Config",
      "port": {{ ui_port }},
      "platform": "config"
    }
  ]
}
